
/*Legend*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
  font: Arial, Helvetica, sans-serif;
}

.legend1 .legend2 .legend3 span {
  position: relative;
  bottom: 3px;
}

.entry {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 1;
}

.column {
  float: left;
  width: 33.33%;
}


